{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Метод KNN
<form action="/p_knn" method="POST">
    <p><input type="text" class="form_text" name="list1"> введите длину лапы</p>
    <p><input name="list2" class="form_text" type="text"> введите ширину лапы</p>
    <input type="submit" class="form_btn" value="Узнать жиавотное">
    <h1>{{class_model}}</h1>
    <p>Accuracy: {{ accuracy }}</p>
<p>Precision: {{ precision }}</p>
<p>Recall: {{ recall }}</p>
    </p>
</form>

{% endblock %}